{% extends "base.html" %}

{% block content %}
    <h1>Enrolled Course</h1>

    {% for course in enrolled_courses %}
        <h3>{{ course.name }}</h3>
        <p>{{ course.description }}</p>
        <p>Institution: {{ course.institution}}</p>
        <p>URL: <a href="{{ course.course_url }}">{{ course.course_url }}</a></p>
        <p>Price: {{ course.price }}</p>
        <a href="{% url 'course-detail' course.id %}"><button>View Details</button></a>
        <hr>
    {% endfor %}
{% endblock %}