{% extends "base.html" %}

{% block content %}
    <h1>Course Details</h1>
    <div>
        <h1>{{ course.name }}</h1>
        <p>{{ course.description }}</p>
        <p>Institution: {{ course.institution}}</p>
        <p>URL: <a href="{{ course.course_url }}">{{ course.course_url }}</a></p>
        <p>Price: {{ course.price }}</p>
        {% if user.is_authenticated %}
            {% if is_enrolled %}
                <button disabled>You are enrolled in this course</button>
            {% else %}
                <form action="{% url 'enter-order-info' course.id %}" method="GET">
                    {% csrf_token %}
                    <button type="submit">Enroll</button>
                </form>   
            {% endif %}
        {% else %}
            <a href="{% url 'login-user' %}" method="POST"><button>Sign In to Enroll</button></a>
        {% endif %}
    </div>
    <div>
        <h2>Add your reviews</h2>
        <form action="{% url 'review-course' course.id %}" method="POST">
            {% csrf_token %}
            {{ review_form }}

            <button type="submit" class="btn btn-primary">Submit review</button>
        </form>
    </div>
    <div>
        <h2>Other reviews</h2>

        {% for review in reviews %}
        <ul>
                <li>
                    <a href="{% url 'get-profile' review.user.id %}">{{ review.user.first_name }} {{ review.user.last_name }}</a>
                </li>
                <li>{{ review.rating }}</li>
                <li>{{ review.review_text }}</li>
                <li>{{ review.review_date }}</li>
        </ul>
        <hr>
        {% endfor %}
    </div>
{% endblock %}