{% extends "base.html" %}

{% load static %}

{% block extra_css %}

<style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
        position: relative;
        width: 100%;
        height: auto;
        background-color: #5c95d6;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 10px;
      height: 500px;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content:start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-wrapper {
        position: relative;
    }

    .swiper-button-next, .swiper-button-prev {
        color: #5c95d6;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 50%; /* Căn giữa theo chiều dọc */
        transform: translateY(-50%); /* Dịch chuyển chính giữa theo trục Y */
    }

    .swiper-button-next {
        right: 10px; /* Cách mép phải của `swiper-wrapper` */
    }

    .swiper-button-prev {
        left: 10px; /* Cách mép trái của `swiper-wrapper` */
    }

    .rcm-courses {
        background-color: #5c95d6;
        padding: 20px;
        padding-top: 0px;
    }

    h2 {
        font-size: 25px;
    }

  </style>

{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center overflow-hidden p-3 p-md-5 text-center" id="cover">
    <div class="col-12 col-md-5 p-lg-5 my-5" style="width: 100%;">
        <h1 class="display-4 fw-bold" style="font-weight: 900;">Coursehub</h1>
        <p class="lead fw-normal">Elevate your skills with our extensive range of online courses, curated by top industry experts. Whether you're looking to advance your career, learn a new hobby, or gain new knowledge, we have the right course for you.</p>
        <a href="#rcm" class="btn btn-outline-success">Start now!</a>
    </div>
  </div>

<section class="rcm-courses" style="overflow-x: hidden;" id="rcm">
    <div class="swiper-container mySwiper">
        <div class="row d-flex justify-content-center my-5">
            <h1 class="display-4 fw-bold text-center text-white" style="padding: 20px;">Recommended Courses</h1>
            <p class="lead text-center text-white" style="padding: 0 20px;">Our recommended courses are personalized to provide you with the best learning experience. These courses are designed to help you achieve your goals and excel in your chosen field.</p>
            <a href="{% url 'course-search' %}" class="btn btn-outline-light" style="width: auto;">Explore Courses</a>
        </div>
        
        <div class="swiper-wrapper">

            {% for course in recommended_courses %}
            <div class="course-card swiper-slide">
                <img src="{{ course.image_url }}" alt="Course image" class="course-img">

                <div class="course-info">
                    <h2 class = "course-name">{{ course.name }}</h2>
                    <p class="institution">Institution: {{ course.institution}}</p>
                    <p class="price" style="font-weight: 500;">Price: {{ course.price }}$</p>
        
                </div>

                <div class="btn-view-more" style="display: flex; flex-direction: column; flex: 1; justify-content: flex-end;">
                    <a href="{% url 'course-detail' course.id %}" class="btn btn-outline-success" style="margin-bottom: 10px;">View More</a>
                </div>

            </div>
            {% endfor %}

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 10,
            loop: true,
            centerSlide: 'true',
            fade: 'true',
            grabCursor: 'true',
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
            },
            navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
            },
            breakpoints:{
                0: {
                    slidesPerView: 1,
                },
                520: {
                    slidesPerView: 2,
                },
                950: {
                    slidesPerView: 4,
                },
            },
        });
    </script>
    {% endblock %}

