{% load static %}

<style>
  /* Navbar Styles */
.navbar {
    background-color: #5c95d6;
}

.navbar-brand img {
    margin-left: 10px;
    max-width: 80px;
    max-height: 70px;
    object-fit: contain; 
    transform: scale(1.2);
}

.search-form {
    flex-grow: 1;
}

.search-input {
    max-width: 300px;
}

.user-dropdown img {
    width: 32px;
    height: 32px;
}

.auth-buttons .btn {
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .search-input {
        max-width: none;
    }

    .auth-buttons .btn {
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}
</style>

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home-page' %}">
            <img src="{% static 'imgs/logo.svg' %}" alt="Logo" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="search-form d-flex my-2 my-lg-0" method="GET" action="{% url 'course-search' %}">
                <input class="form-control search-input me-2" name="query" placeholder="Search for courses..." style="height: 38px;" aria-label="Search">
                <button class="btn btn-outline-light" style="margin-right: 10px;" type="submit">Search</button>
            </form>
            <div class="ms-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <div class="dropdown user-dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ request.user.userprofile.profile_pic.url }}" alt="User Avatar" class="rounded-circle me-2">
                        <strong>{{ user.username }}</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="{% url 'get-profile' user.id %}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout-user' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="auth-buttons d-flex flex-column flex-lg-row">
                    <a href="{% url 'login-user' %}" class="btn btn-outline-light">Log in</a>
                    <a href="{% url 'register-user' %}" class="btn btn-light">Register</a>
                </div>
                {% endif %}
            </div>
        </div>        
    </div>
</nav>